:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--blue: hsl(207, 100%, 37%);
	--light-blue: hsl(201, 100%, 47%);
	--red: hsl(14, 87%, 58%);
	--body-text: hsl(0, 2%, 38%);
	--title-text: hsl(219, 100%, 8%);
	--gradient: linear-gradient(to right, var(--blue), var(--light-blue));
}
