@use '../util' as *;

.container {
	width: 85%;
	// padding: 0 rem(0);
	max-width: rem(1200);
	margin: auto;

	// @include breakpoint(large) {
	// 	padding: 0;
	// 	transform: translate(0, 0);
	// }
}