@use "../util" as *;

h1,
h2,
h3 {
	margin: 0;
	line-height: 1;
}

a,
a:visited,
a:active {
	text-decoration: none;
}

.section__title {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	margin: 0.3em auto;
	background: linear-gradient(
		130deg,
		hsl(201, 100%, 50%),
		hsl(201, 100%, 40%),
		hsl(207, 100%, 30%),
		hsl(201, 100%, 40%),
		hsl(201, 100%, 50%)
	);
	background-size: 200% auto;
	color: var(--blue);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 5s linear infinite;
	@keyframes shine {
		to {
			background-position: 200% center;
		}
	}
	@include breakpoint(medium) {
		font-size: 2.5em;
	}
}

.section__description {
	font-size: 1rem;
	margin: 0.3em auto;
	text-align: center;
}
