@use "../util" as *;

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.1;
}

a,
a:visited,
a:active {
	text-decoration: none;
}

.section__title {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	margin: 0 1em;
	color: var(--blue);
}

.section__description {
	margin: auto;
	margin-block: 1em;
	text-align: center;
}
