@use "../util" as *;

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.1;
}

a,
a:visited,
a:active {
	text-decoration: none;
}

.section__title {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	// margin: 0 1em;
	// color: var(--blue);
	margin-bottom: 0.3em;
	background: linear-gradient(
		to 45deg,
		hsl(201, 100%, 50%),
		hsl(201, 100%, 45%),
		hsl(201, 100%, 40%),
		hsl(201, 100%, 35%),
		hsl(207, 100%, 30%),
		hsl(201, 100%, 35%),
		hsl(201, 100%, 40%),
		hsl(201, 100%, 45%),
		hsl(201, 100%, 50%)
	);
	background-size: 200% auto;
	color: red;
	background-clip: text;
	// text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 4s linear infinite;
	@keyframes shine {
		to {
			background-position: 200% center;
		}
	}
	@include breakpoint(medium) {
		font-size: 3em;
	}
}

.section__description {
	margin: auto;
	// margin-block: 1em;
	text-align: center;
}
