@use "../util" as *;

.about__title {
    background: url("../assets/images/title-back/about-title.webp"), rgba(50, 50, 50, 0.9);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.about {
    padding: 2em 0em;
    .about__container {
        .about__right {
            .about__name {
                text-transform: uppercase;
                margin-bottom: 1em;
                color: #555;
            }
            .about__tag {
                font-size: 1.5rem;
                color: var(--blue);
                font-weight: 600;
                margin-bottom: 1em;
            }
            .about__des {
                margin-bottom: 1em;
            }
            .button {
                width: 50%;
                margin: auto;
            }
        }
        @include breakpoint(medium) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2em;
            align-items: center;
        }
    }
}
