@use "../util" as *;

.button {
  background: linear-gradient(to right, var(--blue), var(--light-blue));
  border: 2px solid hsla(201, 100%, 47%, 0.4);
  color: white;
  font-weight: 600;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  transition: all 250ms;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: white;
    color: var(--blue);
    transition: all 250ms;
  }
}
