@use "../util" as *;

.footer {
  background: #ecedfb;
  padding-top: 2em;
  .footer-top {
    background: linear-gradient(to right, var(--blue), var(--light-blue));
    color: white;
    padding: 2em 2em;
    margin-bottom: 2em;
    border-radius: 10px;
    border: 1px solid rgba(11, 11, 11, 0.1);
    .ft-left {
      margin-bottom: 1em;
      .left-up {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 0.8em;
      }
      .left-down {
        font-weight: 500;
      }
    }
    .ft-right {
      .ft-con {
        cursor: pointer;
        display: inline-block;
        margin: auto;
        font-weight: 600;
        color: var(--blue);
        background: white;
        padding: 0.5em 1.3em;
        border-radius: 5px;
      }
    }
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: 80% 20%;
      align-items: center;
      padding-inline: 2em;
      .ft-right {
        justify-self: end;
      }
    }
  }
  .footer-bottom {
    z-index: -1111;
    padding: 3em 0;
    text-align: center;
    background: linear-gradient(to right, var(--blue), var(--light-blue));
    .bottom__container {
      .bt {
        margin-bottom: 1em;
        img {
          margin: auto;
        }

        @include breakpoint(medium) {
          display: grid;
          grid-template-columns: 70% 30%;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 2em;
          img {
            margin: 0;
          }
          .social {
            text-align: right;
          }
        }
      }
      .tp {
        .footer__section__title {
          color: White;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 2rem;
          margin: 0.3em 0;
          margin-top: 1em;
        }
        .footer__about {
          background: white;
          padding: 1em 2em;
          border-radius: 20px;
          box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.4);
          .footer__about_des {
            margin-top: 1em;
            font-weight: 400;
          }
          .social {
            margin-top: 1em;
            img {
              width: 10%;
              display: inline-block;
              margin: 0 1em;
            }
          }
        }
        .footer__address {
          color: white;
          text-align: center;
          .addressline {
            font-weight: 500;
            color: #e2e2e2;
            a {
              color: #e2e2e2;
            }
          }
        }
        .footer__links__con {
          text-align: center;
          .footer__links {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
            .footer__link {
              color: #e2e2e2;
              li {
                font-weight: 500;
              }
            }
          }
        }
        @include breakpoint(large) {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 2em;
        }
      }
    }
    @include breakpoint(medium) {
      text-align: left;
    }
  }
}
