@use "../util" as *;

.hero {
   display: none;
   @include breakpoint(medium) {
      display: block;
   }
}

.slick-arrow {
   content: "abc";
}

.slick-prev {
}

.slick-next {
}
.hero-mobile {
   display: block;
   @include breakpoint(medium) {
      display: none;
   }
}
