@use "../util" as *;

.standards {
  padding: 2em 0;
  .standards__container {
    .standards__standard {
      margin-inline: 1em;
      margin-block: 0.5em;
      border: 1px solid rgba(20, 20, 20, 0.1);
      .standard__image {
        padding: 3em 1em;
        background-image: linear-gradient(to bottom, var(--blue), var(--light-blue));
        color: white;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
      }
      .standard__name {
        margin-block: 0.8em;
        font-weight: 600;
        margin-left: 0.5em;
      }
      .button {
        display: inline-block;
        margin: 1em 0;
        margin-left: 1em;
      }
    }
  }
}
