@use "../util" as *;

.why {
    padding: 3em 0;
    .section__description {
        width: 85%;
        max-width: 1100px;
        font-size: 1.1rem;
        margin: 0.3em auto;
        text-align: center;
    }
    .accordion__wrap {
        margin: 0.5em auto;
        background: #eee;
        border-radius: 5px;
    }
    .accordion {
        background-color: #eee;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: 2px solid hsla(201, 100%, 47%, 0.4);
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .accordion:after {
        content: "\002B";
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active {
        background: white;
        color: var(--blue);
        transition: all 250ms;
    }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 1em;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        background: #eee;
        border-radius: 5px;
        transition: max-height 0.25s ease-out;
    }

    @include breakpoint (medium) {
        .why-us__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
            justify-content: center;
            align-items: center;
        }
        .accordion__wrap {
            margin-top: 0;
        }
    }
}
