@use "../util" as *;

.contact__title {
    background: url("../assets/images/title-back/contact-title.webp"), rgba(20, 20, 20, 0.8);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#map {
    height: 80%;
    width: 100%;
}

.contact-info {
    padding: 2em 0;
    margin: 2em 0;
    .contact-info__container {
        .info-container {
            .info-left {
                p {
                    margin: 1em 0;
                }
            }
            .info-right {
                p {
                    margin: 1em 0;
                }
                .social {
                    a {
                        img {
                            display: inline-block;
                            width: 10%;
                            margin: 0 1em;
                        }
                    }
                }
            }
            @include breakpoint(medium) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2em;
            }
        }
    }
}

.contact-form {
    padding: 2em 0;
    background: #ECEDFB; 
    .contact-form__container {
        max-width: 600px;
        input {
            margin: 1em 0;
            display: block;
            width: 100%;
            padding: 1em 2em;
            border: none;
            border-radius: 0 20px 0 20px;
            &:hover {
                box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
            }
            &:focus {
                outline: 2px solid var(--blue);
            }
        }
        .button {
            border-radius: 20px 0 20px 0;
            margin: 1em auto;
        }
    }
}
// .con-des {
//     .section__description {
//         margin-top: 2em;
//     }
// }

// .con__container {
//     margin-top: 2em;
//     // h1{
//     //     color: var(--blue)
//     // }
//     .con-form {
//         margin-top: 2em;
//         color: #313131;
//         font-weight: 500;
//         & > * {
//             width: 100%;
//             padding: 0.8em;
//             margin: 0.5em auto;
//             border: 2px solid var(--light-blue);
//             border-radius: 5px;
//             outline: none;
//             background: #f5f5f5;
//             &:focus-visible {
//                 border: 2px solid var(--blue);
//             }
//             @include breakpoint(medium) {
//                 margin: 0 auto;
//             }
//         }
//         @include breakpoint(medium) {
//             display: grid;
//             grid-template-columns: 1fr 1fr 1fr;
//             gap: 1.5em;
//         }
//         .msg-msg {
//             height: 150px;
//         }
//     }
// }

// .con-details {
//     text-align: center;
//     .con__container {
//         text-align: center;
//     }
// }
