@use "../util" as *;

.student__title {
    background: url("../assets/images/title-back/student-title.webp"), rgba(20, 20, 20, 0.8);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}